name: ci

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v?[0-9]+.[0-9]+.[0-9]+*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: Cambridge-Vision-Technology/ci/.github/workflows/workflow.yml@main
    permissions:
      id-token: write
      contents: read
    with:
      enable-lfs: true
      use-flake-check: true
      inventory-runner: macos-arm64-nix-darwin
      default-branch: main
      visibility: private
      include-output-paths: false
      runner-map: |
        {
          "aarch64-darwin": "macos-arm64-nix-darwin"
        }
